html
	head
		title Gamepad
		link(href="css/gamepad.css", rel="stylesheet")
	body
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		#container

			#menu
				#start
					div START
				#select 
					div SELECT
				#full-screen
					div FULL SCREEN

			#arrows
				#up 
					div &uarr;
				#left
					div  &larr;
				#right 
					div &rarr;
				#down 
					div &darr;

			#up-left.arrows-ext
			#up-right.arrows-ext
			#down-left.arrows-ext
			#down-right.arrows-ext

			#controls
				#a 
					div A
				#b 
					div B
				#aa
					div A
				#bb 
					div B

		script(type="text/javascript", src="vendor/socket.io-client/dist/socket.io.min.js")
		script(type="text/javascript", src="js/quo.js")
		script(type="text/javascript", src="js/gamepad.js")