!!! 5
html
	head
		title
		link(type="text/css", rel="stylesheet", href="css/main.css")
	body
		.main
			.content
				.logo
					img.img-logo(src="images/mario.png")
					img.seven-bit(src="images/7bit.png")
				.clear-fix
				.controls
					.room-input
						input(type="text")
					.room-button
						input(type="submit", value="Go")