!!! 5
html
	head
		title
		link(type="text/css", rel="stylesheet", href="css/main.css")			
	body
		.main
			.content
				.logo
					img.img-logo(src="images/mario.png")
					img.seven-bit(src="images/7bit.png")
				.clear-fix
				.controls
					.room-input
						input(id="arenaName", type="text")
					.room-button
						input(id="goButton", type="submit", value="Go")
	script(type="text/javascript", src="vendor/jquery/jquery.js")	
	script(type="text/javascript")		
		function redirectToGameRoom(){
			window.location = "/" + $("#arenaName").val();
		};
		$("#arenaName").bind("keypress", function(e){
			var code = (e.keyCode ? e.keyCode : e.which);
			if(code == 13) { 
				redirectToGameRoom();
			}
		});
		$("#goButton").bind("click", function(){			
			redirectToGameRoom();
		});


