!!! 5
html
	head
		title
		link(type="text/css", rel="stylesheet", href="css/main.css")			
	body
		.main
			.content
				.logo
					img.img-logo(src="images/mario.png")
					img.seven-bit(src="images/7bit.png")
				.clear-fix
				.controls
					.room-input
						input(id="arenaName", type="text")
					.room-button
						input(id="goButton", type="submit", value="Go")
	script(type="text/javascript", src="vendor/jquery/jquery.js")	
	script(type="text/javascript")
		$("#goButton").bind("click", function(){			
			window.location = "/" + $("#arenaName").val();
		});


