html
	head
		title= token
		link(type='text/css', rel='stylesheet', href='css/room.css')
	body
		#container
		script(data-main='config' src='vendor/requirejs/require.js')
		include templates/room/all
