html
	head
		title= token
		link(type='text/css', rel='stylesheet', href='css/room.css')
	body
		#container
		script(data-main='config' src='vendor/requirejs/require.js')
		script(data-main='config' src='js/games/fangois/js/melonJS-0.9.2-min.js')
		include templates/room/all
		include analytics.jade
