!!! 5
html
  head
    title
    link(type='text/css', rel='stylesheet', href='css/room.css')
  body
    .room-main
      .center
        a(href='') Get QR Code for quick access
      .menu-column.column
        .search
          input.search-input(type='text', placeholder='Search...')
        ul.search-result
          li
            a(href='') Contra
            span.label.label-js JS
          li
            a(href='') Some Game
            span.label.label-nes NES
      .content-column.column
        | hg
      .chat-column.column
        | hg
