script(type="text/template")#template-room-chat
	ul.users
		li
			| User 1 -
			span	connected
		li
			| User 2 -
			span	connected
	.chat
		.message
			span John:
			|	Hey! How are you?
		.message
			span John:
			|	Hey! How are you?
		.message
			span John:
			|	Hey! How are you?
		.message
			span John:
			|	Hey! How are you?
		.message
			span John:
			|	Hey! How are you?
		.message
			span John:
			|	Hey! How are you?
		.message-input
			textarea
