script(type="text/template")#template-room-game-area
	#screen
	#nes-screen
	.controls
		a.pause(href='javascript:void(0);') pause
		a.reset(href='javascript:void(0);') reset
		a.sound(href='javascript:void(0);') sound: off
		a.expand(href='javascript:void(0);') expand
