script(type="text/template")#template-room-layout
	.room-main
		.center
			a(href='') Get QR Code for quick access
		#games.menu-column.column

		.content-column.column
			#game-area
			.controls
				a.pause(href='') pause
				a.reset(href='') reset
				a.sound(href='') sound
				a.expand(href='') expand
		.chat-column.column
			ul.users
				li
					| User 1 -
					span	connected
				li
					| User 2 -
					span	connected
			.chat
				.message
					span John:
					|	Hey! How are you?
				.message
					span John:
					|	Hey! How are you?
				.message
					span John:
					|	Hey! How are you?
				.message
					span John:
					|	Hey! How are you?
				.message
					span John:
					|	Hey! How are you?
				.message
					span John:
					|	Hey! How are you?
				.message-input
					textarea
