script(type="text/template")#template-room-layout
	.room-main
		.center
			a(href='') Get QR Code for quick access
		#games.menu-column.column

		.content-column.column
			#game-area
		.chat-column.column
			#stats
