sum_height = 100
transition_time = 0.5s

body
	padding: 0
	margin: 0
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

#container
	position: fixed
	width: 100%
	height: 100%

#arrows, #controls
	width: 50%
	float: left
	position: relative
	opacity: 1
	transition: opacity transition_time

#up, #left, #right, #down
	height: (sum_height / 3)%
	text-align: center

#up, #down
	background: #FFFF86

#left
	background: #B0F7F1

#right
	background: #FA9B52

#up, #down
	width: 100%

#left, #right
	float: left
	width: 50%

#a, #b
	border-bottom: 1px solid black

#a, #aa
	border-right: 1px solid black
	margin-left: -1px

#controls>div
	background: #77D7E1
	height: (sum_height / 2)%
	width: 50%
	position: relative
	float: left

#menu
	position: fixed
	z-index: 10
	height: 100% 
	left: -1000%
	width: 50%
	transition: left transition_time
	font-size: 25px

#menu>div
	background: #0000B3
	color: white
	height: (sum_height / 3)%
	position: relative
	width: 100%
	border-bottom: 1px solid black
	border-right: 1px solid black

#controls>div, #arrows>div, #menu>div
	display: table

	div 
		display: table-cell
		text-align: center
		vertical-align: middle

.mousedown
	opacity: 0.6

#menu.shown
	left: 0%

#menu.shown+#arrows
	opacity: 0

.arrows-ext
	width: 25%
	height: 20%
	position: absolute
	z-index: 5

#up-left, #up-right
	top: 24%

#down-left, #down-right
	top: 55%

#up-right, #down-right
	left:25%