html, body
	margin 0px
	padding 0px
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	height 100%

.clear-fix
	clear both

a
	color #0088cc
	text-decoration none
	&:hover
		color #005580
		text-decoration underline

input[type="text"]
	height 27px
	border 1px solid #cecece
	padding 0px 1px

.label
	padding 5px 3px
	border-radius 3px
	color #ffffff
	font-size 9px
	width 30px
	float right
	text-align center
	&.label-js
		background-color #49afcd
	&.label-nes
		background-color #faa732

.main
	position relative
	top 30%
	.logo
		text-align center
		.seven-bit
			position relative
			top 60px
			float right
			width 300px
	.content
		margin 0px auto
		width 620px
		h3
			text-align center
			margin 0px
			font-size 25px
			line-height 60px
		.text
			margin 0px 0px 15px
			text-align justify
		.controls
			margin-top 20px
			.room-input
				width 500px
				padding 0px
				float left
				input
					width 498px
					font-size 32px
					line-height 40px
					height 58px
			.room-button
				width 100px
				float left
				input
					width 120px
					height 60px
					padding 0px
					margin 0px
					background-color #cf211b
					border-width 0px
					color #edbe8c
					font-size 25px
					font-weight bold
					&:hover
						background-color #f74d4d
						cursor pointer

.img-logo
	float left
	width 300px

